{% load static %}

<!-- header-dashboard -->
<div class="header-dashboard">
    <div class="wrap">
        <div class="header-left">
            <a href="{% url 'core:home' %}">
                <img 
                    class="" 
                    id="logo_header_mobile" 
                    alt="Logo Flash Bot" 
                    src="{% static 'images/logo/logo-dark.png' %}" 
                    data-light="{% static 'images/logo/logo-dark.png' %}" 
                    data-dark="{% static 'images/logo/logo-dark.png' %}" 
                    data-width="154px" 
                    data-height="52px" 
                    data-retina="{% static 'images/logo/logo-dark.png' %}">
            </a>
            <div class="button-show-hide">
                <i class="icon-menu-left"></i>
            </div>
        </div>
        <div class="header-grid">
            <div class="popup-wrap message type-header">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="header-item">
                            <span class="text-tiny">1</span>
                            <i class="icon-bell"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton2">
                        <li>
                            <h6>Notificações</h6>
                        </li>
                        <li>
                            <div class="message-item item-4">
                                <div class="image">
                                    <i class="icon-noti-1"></i>
                                </div>
                                <div>
                                    <div class="body-title-2">
                                        <span>DESCONTO DE 50% POR TEMPO LIMITADO!</span>
                                    </div>
                                    <div class="text-tiny">Válido por 1 semana a partir de agora.</div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" class="tf-button w-full">APROVEITAR DESCONTO</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-item button-zoom-maximize">
                <div class="">
                    <i class="icon-maximize"></i>
                </div>
            </div>
        </div>
    </div>
</div>
