{% load static %}

<meta charset="utf-8">
<title>Flash Bot - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Theme Style -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animation.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Font -->
<link rel="stylesheet" href="{% static 'font/fonts.css' %}">
<link rel="stylesheet" href="{% static 'icon/style.css' %}">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">